# Ejercicios diarios mySQL

## Importacion de los datos y librerias

In [12]:
## Conectarse a docker y pandas
import pandas as pd
import os
from sqlalchemy import create_engine

In [13]:
from dotenv import load_dotenv
import cryptography
load_dotenv("credenciales_mysql.env")

True

## Creacion usuario para conectarse a base de datos

In [14]:
user = os.getenv("MYSQL_USER", "root")
pwd  = os.environ["MYSQL_PASSWORD"]
host = os.getenv("MYSQL_HOST", "127.0.0.1")
port = os.getenv("MYSQL_PORT", "3306")
db   = os.getenv("MYSQL_DB", "sakila")

engine = create_engine(f"mysql+pymysql://{user}:{pwd}@{host}:{port}/{db}")

In [15]:
print("cwd:", os.getcwd())
print("MYSQL_USER:", os.getenv("MYSQL_USER"))
print("MYSQL_PASSWORD existe?:", os.getenv("MYSQL_PASSWORD") is not None)
print("MYSQL_DB existe?:", os.getenv("MYSQL_DB"))
print("MYSQL_ROOT_PASSWORD existe?:", os.getenv("MYSQL_ROOT_PASSWORD") is not None)

cwd: c:\Users\workw\Documents\practicar programacion\sql
MYSQL_USER: app
MYSQL_PASSWORD existe?: True
MYSQL_DB existe?: sakila
MYSQL_ROOT_PASSWORD existe?: True

## Practica clausulas y operadores

In [16]:
df = pd.read_sql("SELECT category, COUNT(*) AS n FROM film_list GROUP BY category ORDER BY n DESC;", engine)
df.head()

DatabaseError: Execution failed on sql 'SELECT category, COUNT(*) AS n FROM film_list GROUP BY category ORDER BY n DESC;': (pymysql.err.ProgrammingError) (1146, "Table 'sakila.film_list' doesn't exist")
[SQL: SELECT category, COUNT(*) AS n FROM film_list GROUP BY category ORDER BY n DESC;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [11]:
pd.read_sql("SHOW TABLES;", engine)

Empty DataFrame
Columns: [Tables_in_sakila]
Index: []

In [ ]:
pd.read_sql("DESCRIBE film_list;", engine)

In [ ]:
pd.read_sql("SELECT title FROM film_list;", engine)

In [ ]:
pd.read_sql("SELECT title FROM film_list WHERE category = 'Documentary';", engine)

In [ ]:
pd.read_sql("SELECT * FROM film_list WHERE price BETWEEN 1 AND 3;", engine)

In [ ]:
pd.read_sql("SELECT * FROM film_list WHERE price > 1 AND price < 3;", engine)

In [ ]:
pd.read_sql("DESCRIBE actor_info;", engine)

In [ ]:
pd.read_sql("DESCRIBE country;", engine)

In [ ]:
# No olvidar poner comillas al dato de la variable categorica (no olvidar poner comillas a Algeria)
pd.read_sql("SELECT * FROM country WHERE country != 'Algeria';", engine)

In [ ]:
pd.read_sql("SELECT * FROM country WHERE country <> 'Algeria';", engine)

In [ ]:
pd.read_sql("SELECT * FROM country WHERE country NOT IN ('Algeria', 'ARGENTINA');", engine)