# Ejercicios diarios mySQL

In [3]:
## Conectarse a docker y pandas
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
engine = create_engine("####")

df = pd.read_sql("SELECT category, COUNT(*) AS n FROM film_list GROUP BY category ORDER BY n DESC;", engine)
df.head()

      category   n
0       Sports  74
1      Foreign  73
2       Family  69
3  Documentary  68
4    Animation  66